*{
    margin: 0;
    padding: 0;
}

.user_item{
    border: 1px solid black;
    margin: 15px;
    width: 200px;
}
.App{
    display: flex;
}
a{
    margin: 15px;
    font-size: 18px;
}
.active{
    background-color: aqua;
}